{{#section 'head'}}
    <link rel="stylesheet" href="/styles/auth.css">

{{/section}}

<div classe="container">
    <form action="/signup" method="post">

        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}


        <label for="inputUsername">User Name</label><br>
        <input type="text" id="inputUsername" name="username" placeholder="User name.."required><br>

        <label for="inputFirstName">First Name</label><br>
        <input type="text" id="inputFirstName" name="firstname"  placeholder="first name.." required><br>
        <label for="inputLastName" >Last Name</label><br>
        <input type="text" id="inputLastName" name="lastname"  placeholder="last name.." required><br>
        <label for="inputemail" >Email</label><br>
        <input type="email" id="inputemail" name="email"  placeholder="email.." required><br>

        <label for="inputPassword">Password</label><br>
        <input type="password" id="inputPassword" name="password" placeholder="Your password.."required><br>

        <label for="inputPassword" >Repeat Password</label><br>
        <input type="password" id="inputPassword2" name="password2"  placeholder="Repeat Password.." required><br>

        <input type="submit" value="Submit"><br>
    </form>
</div>

</div>